.layout {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../public/layout.jpg');
  background-position: center center;
  background-size: cover;
  position: relative;
}

.volver:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3)), url('../../public/layout.jpg');
  cursor: pointer;
}